<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Public — Express Market</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="auth-page">
<div class="login-card">
    <h1>Express Market</h1>
    <p class="subtitle">Acesse o painel administrativo</p>

    <a th:href="@{/login.html}" class="btn btn-primary">Acesse sua conta</a>

</div>
</body>
</html>
